<footer class="site-footer">
    <ul class="site-footer__help-items">
        {% for item in site.help-links %}
        <li class="site-footer__help-item">
            <a class="site-footer__help-link" href="{{site.baseurl}}/{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</footer>
<script type="text/javascript" src="{{"/assets/jquery-3.3.1.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{"/assets/site.js" | absolute_url }}"></script>
