<header class="site-header">
    <{%- if page.layout == "home" -%}h1{%- else -%}h2{% endif %} class="site-header__title">
        {%- if page.layout != "home" -%}<a class="site-header__home-link" title="{{ site.title }}" href="{{ site.baseurl }}/">{%- endif -%}
            {{- site.title -}}
        {%- if page.layout != "home" -%}</a>{%- endif -%}
    </{%- if page.layout == "home" -%}h1{%- else -%}h2{%- endif -%}>
    {% if page.layout == "home" %}
        <p class="site-header__description">{{ site.description }}</p>
        <div class="banner">
            {% for banner in page.banners %}
                <ul class="banner__items banner__items--{{ banner.size }}">
                    {% for image in banner.images %}
                        <li class="banner__item">
                            <img alt="{{image}}" class="banner__image" src="{{ site.baseurl }}/assets/images/banner/{{ banner.size }}/{{ image }}">
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% else %}
        {% include inc-hamburger-menu.html %}
        <div class="site-header__title-wrapper">
            <h1 class="site-header__page-title">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
            {% if page.page-logo %}
              <img class="site-header__logo" alt="{{ page.title | remove: '_' }}" src="{{ site.baseurl}}/assets/images/{{ page.page-logo }}">
            {% endif %}
        </div>
    {% endif %}
</header>
