{% comment %}
INCLUDE: SOLUTION SECTION
- This block is used for Solution Homepages and outputs an included title, image,
intro text, a link, and link button.
- Links will go to solution section pages (ex: Learn, Meet, etc)
{% endcomment %}
<section class="{{ page.page-main }}__section">
    <img class="{{ page.page-main }}__image" alt="{{ include.title }}" src="{{ site.baseurl }}/assets/{{ include.image }}">
    <h1 class="{{ page.page-main }}__title">{{ include.title }}</h1>
    {{ include.intro }}
    <a class="{{ page.page-main }}__link" href="{{ include.link }}" title="{{ include.button }}">{{ include.button }}</a>
</section>
