<div class="site-header__navigation hamburger">
    <input type="checkbox" id="hamburger-input" class="hamburger__input">
    <label for="hamburger-input" class="hamburger__label"><div class="hamburger__icon"></div></label>
    <ul class="hamburger__items">
        {% comment %}
        1. Assign a variable to hold all Solution Home pages.
        2. Assign a variable to hold all Solution Step pages and sort them by their "weight" parameter.
        3. For each Solution Home, split its permalink to find its group ID (ex: devtest).
        4. For each Solution Step, split its permalink to find its group ID.
        5. If the two group IDs match, create a list item for it.
        {% endcomment %}
        {%- assign solution_landings = (site.pages | where: "layout", "solution-landing") -%}
        {%- assign solution_steps = (site.pages | where: "layout", "solution-step" | sort: "weight") -%}
        {%- assign this_page = (page.url | remove_first: "/" | split: "/") %}
        {%- for solution in solution_landings -%}
            <li class="hamburger__item">
                <ul class="solution">
                    {%- assign solution_name = solution.permalink | remove_first: "/" | split: "/" -%}
                    <li class="solution__item {% if solution_name[0] == this_page[0] %}solution__item--current{% endif %}">
                        <a class="solution__link" title="{{- solution.title -}}" href="{{- site.baseurl -}}{{- solution.permalink -}}">{{- solution.title -}}</a>
                    </li>
                    {%- for step in solution_steps -%}
                        {%- assign step_solution_name = step.permalink | remove_first: "/" | split: "/" -%}
                        {%- if step_solution_name[0] == solution_name[0] -%}
                            <li class="solution__item solution__item--step {% if page.url == step.permalink %}solution__item--current{% endif %}">
                                <a class="solution__link" title="{{- step.title | remove: '_' -}}" href="{{- site.baseurl -}}{{- step.permalink -}}">
                                    <span class="solution__weight">0{{- step.weight -}}</span>{{- step.title | remove: "_" -}}
                                </a>
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </li>
        {%- endfor -%}
    </ul>
</div>
