body.layout--faqs {

    main {

        @include media(l) {
            display: flex;

            & > * {
                width: 50%;
            }
        }
    }

    .faq-cats {
        display: grid;

        @include media(m) {
            grid-template-columns: repeat(2, 50%);
        }

        @include media(l) {
            padding: 0 rem(30px) rem(60px) rem(60px);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }
    }

    .faq-cats__item {

        $opacity: 1;
        @for $i from 1 through 3 {
            &:nth-child(3n + #{$i}) .faq-cats__label {
                @if $i == 1 {
                    $opacity: .7;
                }
                @else if $i == 2 {
                    $opacity: .5;
                }
                @else {
                    $opacity: .25;
                }
                background-color: rgba($color--8c, $opacity);
            }
        }

        @include media(m) {
            &:nth-child(even) .accordion {
                position: relative;
                left: -50vw;
            }
        }

        .accordion {
            display: none;
            padding: rem(15px) rem(30px);

            @include media(m) {
                width: 100vw;
                box-sizing: border-box;
                padding: rem(30px) rem(60px);
            }

            .accordion__term::before {
                top: rem(5px);
            }
        }
    }

    .faq-cats__input {
        display: none;

        &:checked + label {
            background-color: #FFFFFF !important;
            @include header(2);
        }
    }

    .faq-cats__label {
        @include header(4);
        line-height: rem(30px);
        display: block;
        height: rem(110px);
        padding: rem(40px) rem(15px) 0;
        text-align: center;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    .faq-content {
        display: none;

        @include media(l) {
            display: block;

            .accordion {
                display: none;
                margin: 0 rem(60px) rem(60px) rem(30px);

                .accordion__term::before {
                    top: rem(5px);
                }
            }
        }
    }
}

// body.layout--faqs {
//
//     main {
//
//         @include media(l) {
//             position: relative;
//         }
//     }
//
//     .faq-cats {
//         display: grid;
//
//         @include media(l) {
//             grid-template-columns: repeat(2, 1fr);
//             width: 50%;
//         }
//     }
//
//     .faq-cats__input {
//         display: none;
//
//         &:checked ~ .accordion {
//             display: block;
//             // height: auto;
//             // opacity: 1;
//             position: absolute;
//             top: 0;
//             right: 0;
//             width: 50%;
//         }
//     }
//
//     .faq-cats__item .accordion {
//         // height: 0;
//         // opacity: 0;
//         display: none;
//         transition: all 1s ease;
//
//         @include media(l) {
//             max-width: calc(#{$media--xlarge} / 2);
//         }
//     }
//
//     // main {
//     //
//     //     @include media(l) {
//     //         display: flex;
//     //     }
//     // }
//     //
//     // .faq-cats {
//     //     display: grid;
//     //     grid-template-columns: repeat(4, 1fr);
//     //
//     //     @include media(l) {
//     //         width: 50%;
//     //         position: relative;
//     //
//     // height: -moz-available;          /* WebKit-based browsers will ignore this. */
//     // height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
//     // height: fill-available;
//     //     }
//     // }
//     //
//     // .faq-cats__item {
//     //     grid-column: 1 / span 4;
//     //
//     //     $opacity: 1;
//     //     @for $i from 1 through 3 {
//     //         &:nth-child(3n + #{$i}) .faq-cats__label {
//     //             @if $i == 1 {
//     //                 $opacity: .7;
//     //             }
//     //             @else if $i == 2 {
//     //                 $opacity: .5;
//     //             }
//     //             @else {
//     //                 $opacity: .25;
//     //             }
//     //             background-color: rgba($color--8c, $opacity);
//     //         }
//     //     }
//     //
//     //     @include media(m) {
//     //         position: relative;
//     //
//     //         .accordion {
//     //             width: 100vw;
//     //         }
//     //
//     //         &:nth-child(even) {
//     //
//     //             .accordion {
//     //                 left: -50vw;
//     //             }
//     //         }
//     //     }
//     //
//     //     @include media(ml) {
//     //         grid-column: auto / span 2;
//     //
//     //         // &:nth-child(even) {
//     //         //
//     //         //     .accordion {
//     //         //         // left: -25vw;
//     //         //     }
//     //         // }
//     //
//     //         .accordion {
//     //             box-sizing: border-box;
//     //         }
//     //
//     //         &:nth-child(even) {
//     //
//     //             .accordion {
//     //                 position: relative;
//     //             }
//     //         }
//     //     }
//     //
//     //     @include media(l) {
//     //
//     //         .accordion,
//     //         &:nth-child(even) .accordion {
//     //             position: absolute;
//     //             top: 0;
//     //             left: 50vw;
//     //         }
//     //
//     //         .accordion {
//     //             width: 50vw;
//     //             max-width: rem(690px);
//     //         }
//     //     }
//     //
//     //     // @include media(l) {
//     //     //     // grid-column: auto / span 1;
//     //     // }
//     //
//     //     // @include media(xl) {
//     //     //
//     //     //     .accordion {
//     //     //         max-width: rem(1440px);
//     //     //     }
//     //     //
//     //     //
//     //     //     &:nth-child(even) {
//     //     //
//     //     //         .accordion {
//     //     //             left: rem(-358px);
//     //     //         }
//     //     //     }
//     //     // }
//     //
//     //     &.faq-cats__item--open {
//     //
//     //         .faq-cats__label {
//     //             background: #FFFFFF;
//     //             @include header(2);
//     //             padding: rem(10px);
//     //         }
//     //     }
//     //
//     //     .accordion {
//     //         padding: rem(30px);
//     //         display: none;
//     //
//     //         .accordion__term::before {
//     //             top: rem(5px);
//     //         }
//     //     }
//     // }
//     //
//     // .faq-cats__input {
//     //     display: none;
//     // }
//     //
//     // .faq-cats__label {
//     //     @include header(4);
//     //     padding: rem(15px) rem(30px);
//     //     box-sizing: border-box;
//     //     line-height: rem(30px);
//     //     width: 100%;
//     //     height: rem(110px);
//     //     text-align: center;
//     //     display: flex;
//     //     flex-direction: column;
//     //     justify-content: center;
//     //     transition: all .5s ease-in-out;
//     // }
// }
//
// // body.layout--faqs {
// //
// //     .faq-cats {
// //         display: flex;
// //         flex-direction: column;
// //
// //         @include media(ml) {
// //             flex-direction: row;
// //             flex-wrap: wrap;
// //         }
// //     }
// //
// //     .faq-cats__item {
// //         width: 100%;
// //
// //         @include media(ml) {
// //             width: 50%;
// //         }
// //
// //         @include media(l) {
// //             width: 25%;
// //         }
// //
// //         $section-colors: $color--8c $color--a8 $color--eb;
// //         @for $i from 1 through 3 {
// //             &:nth-child(3n+#{$i}) .faq-cats__button {
// //                 background-color: #{nth($section-colors, $i)};
// //             }
// //         }
// //
// //         &.faq-cats__item--open {
// //
// //             .faq-cats__button {
// //                 background: #FFFFFF;
// //                 padding: rem(5px);
// //                 @include header(2);
// //             }
// //
// //             @include media(ml) {
// //                 .accordion {
// //                     width: 100vw;
// //                     box-sizing: border-box;
// //                     position: relative;
// //                 }
// //
// //                 &:nth-child(even) {
// //
// //                     .accordion {
// //                         left: -50vw;
// //                     }
// //                 }
// //             }
// //
// //             @include media (l) {
// //                 @for $i from 1 through 4 {
// //                     &:nth-child(4n + #{$i}) {
// //                         @if $i >= 2 {
// //                             .accordion {
// //                                 left: calc((25 * #{$i} - 25) * -#{1vw});
// //                             }
// //                         }
// //                     }
// //                 }
// //             }
// //         }
// //     }
// //
// //     .faq-cats__button {
// //         @include header(4);
// //         width: 100%;
// //         height: rem(110px);
// //         margin: 0;
// //         padding: rem(30px);
// //         border: none;
// //         background: none;
// //         outline: none;
// //         border-radius: 0;
// //         cursor: pointer;
// //         transition: all .5s ease-in-out;
// //     }
// //
// //     .accordion {
// //         padding: rem(30px) rem(30px) rem(60px);
// //         display: none;
// //         box-sizing: border-box;
// //
// //         @include media(ml) {
// //             padding: rem(60px);
// //         }
// //
// //         .accordion__term::before {
// //             top: rem(5px);
// //         }
// //
// //         .accordion__label {
// //             font-weight: normal;
// //         }
// //
// //         .accordion__definition {
// //             font-weight: bold;
// //         }
// //     }
// // }
