.page__home {

    .header {
        background-color: $color--bc;
        padding: 1.875rem 1.875rem 2rem;

        .header__title  {
            @include header-2;
            margin-bottom: 0.9375rem;

            a {
                color: #000000;
                text-decoration: none;
            }
        }

        .header__subtitle {
            font-weight: bold;
            color: #FFFFFF;
        }
    }

    .content {

        .banner {
            background-color: $color--bc;
            margin-bottom: 1.875rem;
            padding: 0;

            .banner__list {
                list-style-type: none;
                margin: 0;
                display: none;

                @include media(s) {
                    &.size-small {
                        display: block;
                    }
                }

                @include media(m) {
                    &.size-medium {
                        display: block;
                    }
                }

                @include media(l) {
                    &.size-large {
                        display: block;
                    }
                }
            }

            .banner__item {
                margin: 0;
                display: flex;
                align-items: flex-end;

                img {
                    max-width: 100%;
                }
            }
        }

        .content__title {
            @include header-2;
            position: relative;
            padding-bottom: 1.5625rem;
            margin-bottom: 0.9375rem;
            line-height: 1;

            &::after {
                @include pseudo;
                width: 6.25rem;
                height: 0.625rem;
                bottom: 0;
                left: 0;
                background-color: $color--8c;
            }
        }

        .whats-new {
            li {
                position: relative;
                padding-bottom: 1.625rem;
            }

            em {
                position: absolute;
                bottom: 0;
                right: 0;
                line-height: 1;
            }
        }

        .dive {
            .solutions {
                list-style-type: none;
                margin: 0;

                .solutions__item + .solutions__item {
                    margin-top: 1.875rem;
                }

                .solutions__image {
                    max-height: 4.3125rem;
                }

                .solutions__link {
                    text-decoration: none;
                    color: #000000;
                    display: block;
                }

                .solutions__title {
                    font-weight: bold;
                    margin: 0.9375rem 0;
                }
            }
        }
    }

    @include media(ml) {
        $dimension: 3.75rem;

        .header {
            padding: $dimension;

            .header__title {
                @include header-1;
                margin-bottom: $dimension / 2;
            }

            .header__subtitle {
                @include header-4;
            }
        }

        .content {

            .banner {
                margin-bottom: $dimension;
            }
        }

        // .header {
        //     padding: 2.5rem 2.5rem 4rem;
        //
        //     .header__title {
        //         @include header-1;
        //     }
        //
        //     .header__subtitle {
        //         @include header-2;
        //         line-height: 1.75rem;
        //     }
        // }
        //
        // .content {
        //
        //     .banner {
        //         margin-bottom: 3.125rem;
        //     }
        //
        //     .content__title {
        //         @include header-1;
        //         line-height: 1;
        //     }
        //
        //     .whats-new li {
        //         padding-bottom: 1.9375rem;
        //     }
        // }
    }
}
