body.page--home {

    .site-header {
        background-color: $color--bc;
    }

    .site-header__title,
    .site-header__description {
        padding-left: rem(30px);
        padding-right: rem(30px);

        @include media(ml) {
            padding-left: rem(60px);
            padding-right: rem(60px);
        }
    }

    .site-header__title {
        @include header(2);
        padding-top: rem(30px);
        line-height: 1;

        @include media(ml) {
            @include header(1);
            padding-top: rem(60px);
        }
    }

    .site-header__description {
        padding-top: rem(15px);
        line-height: rem(20px);
        color: #FFFFFF;
        font-weight: bold;

        @include media(ml) {
            @include header(4);
            padding-top: rem(30px);
        }
    }

    .banner {
        margin-top: rem(30px);

        @include media(ml) {
            margin-top: rem(60px);
        }
    }

    .banner__items {
        display: none;
    }

    .banner__item {
        display: flex;
        flex-direction: column;
    }

    .banner__items--small {
        @include media(s) {
            display: block;
        }
    }

    .banner__items--medium {
        @include media(m) {
            display: block;
        }
    }

    .banner__items--large {
        @include media(l) {
            display: block;
        }
    }

    .banner__image {
        max-width: 100%;
    }

    .home-block {
        margin: 0 rem(30px) rem(60px);

        @include media(ml) {
            margin: 0 rem(60px) rem(60px);
        }
    }

    .home-block__header {
        margin-bottom: rem(15px);

        @include media(ml) {
            margin-bottom: rem(30px);
        }
    }

    .home-block__title {
        @include header(2);
        line-height: 1;
        padding-bottom: rem(25px);
        position: relative;

        &::after {
            @include pseudo;
            bottom: 0;
            left: 0;
            width: rem(100px);
            height: rem(10px);
            background-color: $color--8c;
        }
    }

    .whats-new {

        ul {
            list-style-type: disc;
            margin-left: rem(17px);

            @include media(ml) {
                margin-left: rem(21px);
            }
        }

        li {
            position: relative;
            padding-bottom: rem(26px);

            @include media(ml) {
                padding-bottom: rem(35px);
            }

            em {
                position: absolute;
                right: 0;
                bottom: 0;
                line-height: 1;
            }

            & + li {
                margin-top: rem(15px);
            }
        }
    }

    .dive {

        .dive__item {

            @include media(ml) {
                display: flex;
                align-items: flex-start;
            }

            & + .dive__item {
                margin-top: rem(30px);

                @include media(ml) {
                    margin-top: rem(60px);
                }
            }
        }

        .dive__image {
            max-width: rem(46px);
            margin: 0 0 rem(15px);

            @include media(ml) {
                max-width: rem(65px);
                margin: 0 rem(30px) 0 0;
            }
        }

        .dive__title {
            font-weight: bold;
            margin-bottom: rem(15px);
            line-height: 1;
        }

        .dive__button {
            margin-top: rem(15px);

            @include media(ml) {
                margin-top: rem(30px);
            }
        }
    }
}
