.page__home {

    .header {
        background-color: $color--bc;
        padding: 1.875rem 1.875rem 2rem;

        .header__title  {
            @include header-2;
            margin-bottom: 0.9375rem;

            a {
                color: #000000;
                text-decoration: none;
            }
        }

        .header__subtitle {
            font-weight: bold;
            color: #FFFFFF;
        }
    }

    .content {

        .banner {
            background-color: $color--bc;
            margin-bottom: 1.875rem;
            padding: 0;
        }

        .content__title {
            @include header-2;
            position: relative;
            padding-bottom: 1.5625rem;
            margin-bottom: 0.9375rem;

            &::after {
                @include pseudo;
                width: 6.25rem;
                height: 0.625rem;
                bottom: 0;
                left: 0;
                background-color: $color--8c;
            }
        }

        .dive {
            .solutions {
                list-style-type: none;
                margin: 0;

                .solutions__item + .solutions__item {
                    margin-top: 1.875rem;
                }

                .solutions__image {
                    max-height: 4.3125rem;
                }

                .solutions__link {
                    text-decoration: none;
                    color: #000000;
                    display: block;
                }

                .solutions__title {
                    font-weight: bold;
                    margin: 0.9375rem 0;
                }
            }
        }
    }
}
