@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin header($size) {
    $headerMap: (
        1: rem(32px),
        2: rem(24px),
        3: rem(20px),
        4: rem(20px)
    );
    @if map-has-key($headerMap, $size) {
        font-size: map-get($headerMap, $size);
    } @else {
        font-size: rem(16px);
    }

    @if $size == 3 {
        font-weight: normal;
    } @else {
        font-weight: bold;
    }
}

@mixin button($color: 'black') {
    text-decoration: none;
    padding: rem(5px) rem(10px);
    margin-top: rem(15px);
    border-width: rem(1px);
    border-style: solid;
    display: inline-block;

    @if $color == 'white' {
        border-color: #FFFFFF;
        color: #FFFFFF;

        &:hover {
            color: $color--eb;
            border-color: $color--eb;
        }

        &:active {
            border-color: $color--eb;
            background-color: $color--eb;
            color: #000000;
        }
    } @else {
        border-color: #000000;
        color: #000000;

        &:hover {
            border-color: $color--8c;
            color: $color--8c;
        }

        &:active {
            border-color: $color--8c;
            background-color: $color--8c;
            color: #FFFFFF;
        }
    }

    @include media(m) {
        @include header(3);
        margin-top: rem(30px);
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// BREAKPOINTS
$media--small: 320px;
$media--medium: 768px;
$media--large: 1024px;

@mixin media($size) {
  @if $size == s {
    @media only screen and (min-width: $media--small) and (max-width: $media--medium - 1) {
      @content;
    }
  }
  @else if $size == sm {
    @media only screen and (min-width: $media--small) and (max-width: $media--large - 1) {
      @content;
    }
  }
  @else if $size == m {
    @media only screen and (min-width: $media--medium) and (max-width: $media--large - 1) {
      @content;
    }
  }
  @else if $size == ml {
    @media only screen and (min-width: $media--medium) {
      @content;
    }
  }
  @else if $size == l {
    @media only screen and (min-width: $media--large) {
      @content;
    }
  }
}
