@mixin header-1() {
    font-size: 2rem;
    font-weight: bold;
}

@mixin header-2() {
    font-size: 1.5rem;
    font-weight: bold;
}

@mixin header-4() {
    font-size: 1.25rem;
    font-weight: bold;
}

@mixin button($color: #000000) {
    border: 1px solid $color;
    color: $color;
    text-decoration: none;
    padding: 0.3125rem 0.625rem;
    margin-top: 0.9375rem;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}
