.solution-home {

    .header {

        .header__subtitle {
            @include header-2;
        }
    }

    .content {

        .content__block {
            $dimension: 12vw;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            margin-bottom: 0;
            padding-bottom: 1.875rem;

            &:nth-child(even) {
                align-items: flex-end;
                text-align: right;
            }

            &:nth-child(n+2)::before {
                @include pseudo;
                top: -0.03125rem;
                right: 0;
                width: 100vw;
                height: $dimension;
                background: red;
                clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%
                );
            }

            &:nth-child(odd)::before {
                clip-path: polygon(
                    100% 0,
                    0 0,
                    0 100%);
            }

            $section-colors: '#FFFFFF' $color--eb $color--8c '#FFFFFF' $color--a8;
            // $after-colors: $color--a8 '#FFFFFF' $color--eb $color--8c '#FFFFFF';
            @for $i from 1 through 5 {
                $a: 1;
                @if $i != 1 {
                    $a: $i - 1;
                }

                &:nth-child(5n+#{$i}) {
                    background-color: #{nth($section-colors, $i)};
                    @if $i != 1 {
                        border-top: 1px solid #{nth($section-colors, $a)};
                    }
                    @if $i == 3 or $i == 5 {
                        color: #FFFFFF;

                        .button {
                            color: #FFFFFF;
                            @include button('white');
                        }
                    }

                    &::before {
                        background-color: #{nth($section-colors, $a)};
                    }
                }
            }
        }

        .content__image {
            max-width: 7.1875rem;
            position: relative;
        }

        .content__title {
            margin: 0.9375rem 0;
            @include header-4;
        }
    }
}
