body.layout--solution-step {

    .site-header {

        .site-header__title-wrapper {
            display: flex;
            align-items: flex-start;

            @include media(ml) {
                justify-content: space-between;
            }
        }

        .site-header__page-title {
            @include header(1);
            line-height: rem(42px);

            em {
                line-height: 1;
                background: $color--a8;
                padding: rem(6px);
                color: #FFFFFF;
                display: inline-block;
                font-style: normal;
            }
        }

        .site-header__logo {
            width: rem(70px);
            margin-left: rem(15px);

            @include media(ml) {
                margin-left: rem(30px);
            }
        }
    }

    .step-section {
        padding: 0 rem(30px);
        margin-bottom: rem(60px);

        @include media(ml) {
            padding: 0 rem(60px);
        }

        &.step-section--intro {

            @include media(ml) {
                display: flex;
                align-items: flex-start;
            }

            .step-section__illustration {
                margin: rem(30px) auto 0;
                display: block;
                max-width: 100%;

                @include media(ml) {
                    max-width: rem(275px);
                    margin: 0 0 0 rem(60px);
                }
            }
        }

        &.step-section--emphasis {
            $dimension: rem(30px);
            background: $color--eb;
            padding-top: $dimension;
            padding-bottom: $dimension;

            @include media(ml) {
                $dimension: rem(60px);
                padding-top: $dimension;
                padding-bottom: $dimension;
            }
        }

        &.step-section--grid-list {

            .step-section__content > ul {
                list-style-type: none;
                margin-left: 0;

                @include media(ml) {
                    display: flex;
                    flex-wrap: wrap;
                }

                h2 {
                    font-weight: bold;
                    margin: rem(15px) 0;
                }

                li {
                    max-width: rem(294px);

                    &:nth-child(2n+2) {

                        @include media(ml) {
                            margin-left: rem(60px);
                        }
                    }

                    &:nth-child(n+3) {

                        @include media(ml) {
                            margin-top: rem(60px);
                        }
                    }
                }

                li + li {
                    margin-top: rem(30px);

                    @include media (ml) {
                        margin-top: 0;
                    }
                }
            }
        }

        &.step-section--outro {
            position: relative;
            padding-bottom: calc(1em + #{rem(30px)});
            margin-bottom: rem(30px);

            @include media(ml) {
                padding-bottom: calc(1em + #{rem(60px)});
                margin-bottom: rem(60px);
            }

            .step-section__title {
                font-size: 1em;

                @include media(ml) {
                    font-weight: bold;
                }
            }

            .step-section__next-link {
                $arrowWidth: 1rem;
                $arrowHeight: $arrowWidth * 0.6;
                @include media(ml) {
                    $arrowWidth: $arrowWidth * 1.6;
                    $arrowHeight: $arrowHeight * 1.6;
                }

                position: absolute;
                bottom: 0;
                right: rem(30px);
                padding-right: calc(#{rem(15px)} + #{$arrowWidth});
                color: #000000;
                font-weight: bold;

                @include media(ml) {
                    right: rem(60px);
                    padding-right: calc(#{rem(30px)} + #{$arrowWidth});
                }

                &::before,
                &::after {
                    @include pseudo;
                    right: 0;
                }

                &::before {
                    $height: rem(2px);
                    width: $arrowWidth;
                    height: $height;
                    background-color: #000000;
                    top: calc(50% - #{$height} / 2);

                    @include media(ml) {
                        top: 50%;
                    }
                }

                &::after {
                    $borderWidth: rem(2px);
                    box-sizing: border-box;
                    width: $arrowHeight;
                    height: $arrowHeight;
                    border-width: $borderWidth;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-color: #000000;
                    border-style: solid;
                    top: calc(50% - #{$arrowHeight} / 2);
                    transform: rotate(-45deg);
                }

                em {
                    color: #FFFFFF;
                    background-color: $color--a8;
                    line-height: 1;
                    padding: rem(3px);
                    font-style: normal;
                }
            }
        }
    }

    .step-section__title {
        @include header(2);
        margin-bottom: rem(15px);

        @include media(ml) {
            margin-bottom: rem(30px);
        }
    }

    .step-section__content {

        p + p,
        ul + p,
        p + ul,
        li + li {
            margin-top: rem(15px);

            @include media(ml) {
                margin-top: rem(30px);
            }
        }

        ul {
            list-style-type: disc;
            margin-left: rem(17px);

            @include media(ml) {
                margin-left: rem(21px);
            }
        }

        a.video-thumb {
            display: inline-block;
            position: relative;

            &::before,
            &::after {
                @include pseudo;
            }

            &::before {
                $dimension: rem(44px);
                width: $dimension;
                height: $dimension;
                border-radius: 50%;
                border: rem(1px) solid #000000;
                left: calc(50% - (#{$dimension} / 2));
                top: calc(50% - (#{$dimension} / 2));
            }

            &::after {
                $dimension: rem(20px);
                width: $dimension;
                height: $dimension;
                background-color: #000000;
                left: calc(50% - (#{$dimension} / 2.5));
                top: calc(50% - (#{$dimension} / 2));
                clip-path: polygon(
                    0 0,
                    100% 50%,
                    0 100%
                );
            }
        }

        a.document,
        a.presentation,
        a.spreadsheet,
        a.video {
            position: relative;
            padding-left: rem(31px);

            &::before {
                @include pseudo;
                top: rem(2px);
                left: 0;
                width: rem(16px);
                height: rem(16px);
                background-image: url(/cpricing/salesguides/assets/images/icons/link-types.png);
                background-repeat: no-repeat;
                background-position: 0 0;

                @include media(ml) {
                    top: rem(6px);
                }
            }
        }

        a.presentation::before {
            background-position: 0 rem(-50px);
        }

        a.spreadsheet::before {
            background-position: 0 rem(-25px);
        }

        a.video {
            padding-left: rem(32px);

            &::before {
                height: rem(17px);
                width: rem(17px);
                top: rem(1px);
                background-position: 0 rem(-74px);

                @include media(ml) {
                    top: rem(5px);
                }
            }
        }
    }
}

// .solution-step {
//
//     .header {
//
//         .header__subtitle {
//             @include header(1);
//             display: flex;
//             align-items: flex-end;
//
//             h2 {
//                 margin-right: rem(15px);
//
//                 @include media(ml) {
//                     margin-right: rem(30px);
//                 }
//             }
//
//             em {
//                 font-style: normal;
//                 display: inline-block;
//                 background-color: $color--a8;
//                 color: #FFFFFF;
//                 padding: rem(6px);
//                 line-height: 1;
//             }
//         }
//
//         .header__logo {
//             max-width: rem(65px);
//
//             @include media(ml) {
//                 max-width: rem(80px);
//             }
//         }
//     }
//
//     .content {
//
//         .content__block {
//
//             &.intro:first-child {
//
//                 @include media(ml) {
//                     display: flex;
//                     align-items: flex-start;
//
//                     .content__text {
//                         min-width: rem(313px);
//
//                         h1, h2, h3, h4, h5, h6 {
//                             @include header(2);
//                             margin-bottom: rem(30px);
//                         }
//                     }
//
//                     .content__illustration {
//                         max-width: rem(275px);
//                         margin-left: rem(60px);
//                     }
//                 }
//             }
//
//             // EMPHASIS CONTENT BLOCK
//             &.emphasis {
//                 background-color: $color--eb;
//                 padding-top: rem(30px);
//                 padding-bottom: rem(30px);
//
//                 @include media(ml) {
//                     padding-top: rem(60px);
//                     padding-bottom: rem(60px);
//                 }
//
//                 &:not(:last-child) {
//                     margin-bottom: rem(60px);
//                 }
//             }
//
//             // ALERT CONTENT BLOCK
//             &.alert {
//                 border: rem(2px) solid $color--8c;
//                 color: $color--8c;
//                 font-weight: bold;
//                 margin: 0 rem(30px) rem(60px);
//                 padding: rem(15px);
//             }
//
//             // ACCORDION CONTENT BLOCK
//             &.accordion {
//
//                 .accordion__wrapper {
//                     list-style-type: none;
//                     margin: 0;
//                 }
//
//                 .accordion__button {
//                     padding: 0 0 0 rem(26px);
//                     border: none;
//                     background: none;
//                     cursor: pointer;
//                     outline: none;
//                     position: relative;
//                     text-align: left;
//
//                     &::before {
//                         @include pseudo;
//                         width: rem(8px);
//                         height: rem(8px);
//                         border-right: rem(2px) solid #000000;
//                         border-bottom: rem(2px) solid #000000;
//                         transform: rotate(-45deg);
//                         transition: all 0.5s ease-out;
//                         top: rem(3px);
//                         left: 0;
//                     }
//                 }
//
//                 .accordion__title {
//                     font-size: 1rem;
//                     line-height: 1;
//                     margin: 0;
//
//                     @include media(ml) {
//                         @include header(4);
//                     }
//                 }
//
//                 .accordion__content {
//                     display: none;
//                     padding: rem(15px) 0 0;
//                 }
//
//                 .accordion__item:first-child .accordion__content {
//                     display: block;
//                 }
//
//                 .accordion__item {
//
//                     & + .accordion__item {
//                         margin-top: rem(30px);
//
//                         @include media(ml) {
//                             margin-top: rem(60px)
//                         }
//                     }
//
//                     &:first-child .accordion__content {
//                         display: block;
//                     }
//
//                     &.open {
//
//                         & + .accordion__item {
//                             margin-top: rem(30px);
//                         }
//
//                         .accordion__button::before {
//                             border-color: $color--a8;
//                             transform: rotate(45deg);
//                             top: 0;
//                         }
//                     }
//                 }
//             }
//
//             // OUTRO CONTENT BLOCK
//             &.outro:last-child {
//
//                 .content__title {
//                     font-size: 1rem;
//                     margin-bottom: rem(15px);
//                     line-height: 1;
//                 }
//
//                 .outro__next-link {
//                     margin-top: rem(30px);
//                     display: block;
//                     padding-right: rem(31px);
//                     text-align: right;
//                     font-weight: bold;
//                     color: #000000;
//                     text-decoration: none;
//                     position: relative;
//                     line-height: rem(26px);
//
//                     em {
//                         background-color: $color--a8;
//                         color: #FFFFFF;
//                         padding: rem(3px);
//                         font-style: normal;
//                     }
//
//                     &::before,
//                     &::after {
//                         @include pseudo;
//                         right: 0;
//                     }
//
//                     &::before {
//                         $dimension: rem(10px);
//                         width: $dimension;
//                         height: $dimension;
//                         border-style: solid;
//                         border-color: #000000;
//                         border-top-width: rem(2px);
//                         border-right-width: rem(2px);
//                         border-bottom-width: 0;
//                         border-left-width: 0;
//                         transform: rotate(45deg);
//                         top: calc(50% - (#{$dimension} / 2));
//                     }
//
//                     &::after {
//                         width: rem(16px);
//                         height: rem(2px);
//                         background-color: #000000;
//                         top: 50%;
//                     }
//                 }
//             }
//         }
//
//         .content__title {
//             @include header(2);
//             margin-bottom: rem(15px);
//
//             @include media(ml) {
//                 @include header(1);
//                 margin-bottom: rem(30px);
//             }
//         }
//
//         h4 {
//             font-weight: bold;
//             margin: rem(15px) 0;
//         }
//
//         .tab-selector {
//             display: flex;
//             margin-top: rem(30px);
//             width: 100%;
//
//             .tab-selector__tab-list,
//             .tab-selector__content-list {
//                 list-style-type: none;
//                 margin: 0;
//             }
//
//             .tab-selector__tab-list {
//                 margin-right: rem(10px);
//
//                 @include media(ml) {
//                     margin-right: rem(60px);
//                 }
//             }
//
//             .tab-selector__content-list {
//                 background-color: $color--a8;
//                 padding: rem(15px) rem(10px);
//                 word-break: break-word;
//                 color: #FFFFFF;
//             }
//
//             .tab-selector__tab-item {
//
//                 button {
//                     background-color: #FFFFFF;
//                     width: rem(90px);
//                     height: rem(90px);
//                     border-radius: rem(2px);
//                     border: none;
//                     outline: none;
//                     font-size: rem(12px);
//
//                     &.selected {
//                         background-color: $color--a8;
//                         color: #FFFFFF;
//                         font-weight: bold;
//                     }
//                 }
//             }
//
//             .tab-selector__content-item {
//                 display: none;
//                 margin: 0;
//
//                 &:first-child {
//                     display: block;
//                 }
//             }
//
//             .tab-selector__title {
//                 @include header(4);
//                 margin-top: 0;
//             }
//         }
//     }
//
//     &.page__finalize .emphasis:last-child img {
//         margin-top: rem(45px);
//         margin-left: auto;
//         margin-right: auto;
//         display: block;
//     }
// }
