body.layout--solution-step {

    .site-header {

        .site-header__title-wrapper {
            display: flex;
            align-items: flex-start;

            @include media(ml) {
                justify-content: space-between;
            }
        }

        .site-header__page-title {
            @include header(1);
            line-height: rem(42px);

            em {
                line-height: 1;
                background: $color--a8;
                padding: rem(6px);
                color: #FFFFFF;
                display: inline-block;
                font-style: normal;
            }
        }

        .site-header__logo {
            width: rem(70px);
            margin-left: rem(15px);

            @include media(ml) {
                margin-left: rem(30px);
            }
        }
    }

    .step-section {
        padding: 0 rem(30px);
        margin-bottom: rem(60px);

        @include media(ml) {
            padding: 0 rem(60px);
        }

        &.step-section--intro {}

        &.step-section--side-illustration {

            @include media(ml) {
                display: flex;
                align-items: flex-start;
            }

            .step-section__illustration {
                max-width: 100%;
                display: block;
                margin: rem(30px) auto 0;

                @include media(ml) {
                    width: rem(275px);
                    margin: 0 0 0 rem(60px);
                }
            }
        }

        &.step-section--emphasis {
            $dimension: rem(30px);
            background: $color--eb;
            padding-top: $dimension;
            padding-bottom: $dimension;

            &:last-child {
                margin-bottom: 0;
            }

            @include media(ml) {
                $dimension: rem(60px);
                padding-top: $dimension;
                padding-bottom: $dimension;
            }
        }

        &.step-section--grid-list {

            .step-section__content > ul {
                list-style-type: none;
                margin-left: 0;
                display: grid;
                grid-gap: rem(30px);
                grid-template-columns: repeat(auto-fill, 100%);

                @include media(ml) {
                    grid-gap: rem(60px);
                    grid-template-columns: repeat(auto-fill, rem(294px));
                }

                h2 {
                    line-height: 1;
                    margin: 0 0 rem(15px);

                    @include media(ml) {
                        margin: 0 0 rem(30px);
                    }
                }

                li {

                    @include media(ml) {
                        max-width: rem(294px);
                    }
                }

                li + li {
                    margin-top: 0;
                }
            }
        }

        &.step-section--outro {
            position: relative;
            padding-bottom: calc(1em + #{rem(30px)});
            margin-bottom: rem(30px);

            @include media(ml) {
                padding-bottom: calc(1em + #{rem(60px)});
                margin-bottom: rem(60px);
            }

            .step-section__title {
                font-size: 1em;

                @include media(ml) {
                    font-weight: bold;
                }
            }

            .step-section__next-link {
                $arrowWidth: 1rem;
                $arrowHeight: $arrowWidth * 0.6;

                position: absolute;
                bottom: 0;
                right: rem(30px);
                padding-right: calc(#{rem(15px)} + #{$arrowWidth});
                color: #000000;
                font-weight: bold;

                @include media(ml) {
                    right: rem(60px);
                    padding-right: calc(#{rem(30px)} + #{$arrowWidth} * 1.6);
                }

                &::before,
                &::after {
                    @include pseudo;
                    right: 0;
                }

                &::before {
                    $height: rem(2px);
                    width: $arrowWidth;
                    height: $height;
                    background-color: #000000;
                    top: calc(50% - #{$height} / 2);

                    @include media(ml) {
                        width: $arrowWidth * 1.6;
                    }
                }

                &::after {
                    $borderWidth: rem(2px);
                    box-sizing: border-box;
                    width: $arrowHeight;
                    height: $arrowHeight;
                    border-width: $borderWidth;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-color: #000000;
                    border-style: solid;
                    top: calc(50% - #{$arrowHeight} / 2);
                    transform: rotate(-45deg);

                    @include media(ml) {
                        width: $arrowHeight * 1.6;
                        height: $arrowHeight * 1.6;
                        top: calc(50% - (#{$arrowHeight} * 1.6) / 2);
                    }
                }

                em {
                    color: #FFFFFF;
                    background-color: $color--a8;
                    line-height: 1;
                    padding: rem(3px);
                    font-style: normal;
                }
            }
        }

        &.step-section--alert {
            $color: $color--8c;
            border: rem(2px) solid $color;
            margin: rem(-30px) rem(30px) rem(60px);
            color: $color;
            font-weight: bold;
            padding: rem(15px);
        }
    }

    .step-section__title {
        @include header(2);
        margin-bottom: rem(15px);

        @include media(ml) {
            margin-bottom: rem(30px);
        }
    }

    .step-section__content {

        p + p,
        ul + p,
        p + ul,
        li + li {
            margin-top: rem(15px);

            @include media(ml) {
                margin-top: rem(30px);
            }
        }

        ul {
            list-style-type: disc;
            margin-left: rem(17px);

            @include media(ml) {
                margin-left: rem(21px);
            }
        }

        h2 {
            font-weight: bold;
            margin-bottom: rem(15px);

            @include media(ml) {
                margin-bottom: rem(30px);
            }
        }

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        a.video-thumb {
            display: inline-block;
            position: relative;
            margin-bottom: rem(15px);

            @include media(ml) {
                margin-bottom: rem(30px);
            }

            &::before,
            &::after {
                @include pseudo;
            }

            &::before {
                $dimension: rem(44px);
                width: $dimension;
                height: $dimension;
                border-radius: 50%;
                border: rem(1px) solid #000000;
                left: calc(50% - (#{$dimension} / 2));
                top: calc(50% - (#{$dimension} / 2));
            }

            &::after {
                $dimension: rem(20px);
                width: $dimension;
                height: $dimension;
                background-color: #000000;
                left: calc(50% - (#{$dimension} / 2.5));
                top: calc(50% - (#{$dimension} / 2));
                clip-path: polygon(
                    0 0,
                    100% 50%,
                    0 100%
                );
            }

            & > img {
                display: block;
            }
        }

        a.document,
        a.presentation,
        a.spreadsheet,
        a.video {
            position: relative;
            padding-left: rem(31px);

            &::before {
                @include pseudo;
                top: rem(2px);
                left: 0;
                width: rem(16px);
                height: rem(16px);
                background-image: url(/cpricing/salesguides/assets/images/icons/link-types.png);
                background-repeat: no-repeat;
                background-position: 0 0;

                @include media(ml) {
                    top: rem(6px);
                }
            }
        }

        a.presentation::before {
            background-position: 0 rem(-50px);
        }

        a.spreadsheet::before {
            background-position: 0 rem(-25px);
        }

        a.video {
            padding-left: rem(32px);

            &::before {
                height: rem(17px);
                width: rem(17px);
                top: rem(1px);
                background-position: 0 rem(-74px);

                @include media(ml) {
                    top: rem(5px);
                }
            }
        }

        .tab-selector {
            $labelWidth: rem(90px);
            display: flex;
            flex-direction: column;
            position: relative;

            .tab-selector__input {
                display: none;

                &:checked {

                    & + label {
                        background-color: $color--a8;
                        color: #FFFFFF;
                        font-weight: bold;
                    }
                }
            }

            .tab-selector__label {
                width: $labelWidth;
                height: $labelWidth;
                font-size: rem(14px);
                background-color: #FFFFFF;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: rem(5px);
                box-sizing: border-box;

                @include media(ml) {
                    font-size: 1rem;
                    width: calc(#{$labelWidth} * 1.3);
                    height: calc(#{$labelWidth} * 1.3);
                }

                &:nth-child(n+3) {
                    margin-top: rem(15px);

                    @include media(ml) {
                        margin-top: rem(30px);
                    }
                }
            }

            .tab-selector__content {
                position: absolute;
                top: 0;
                right: 0;
                width: calc(100% - (#{$labelWidth} + #{rem(10px)}));
                background-color: $color--a8;
                padding: rem(15px) rem(10px);
                box-sizing: border-box;
                display: none;
                color: #FFFFFF;

                @include media(ml) {
                    width: calc(100% - (#{$labelWidth} * 1.3 + #{rem(60px)}));
                    padding: rem(30px);
                }

                a {
                    color: #000000;
                }
            }

            #content-1 {
                display: block;
            }
        }

        .accordion {
            list-style-type: none;
            margin: 0;

            .accordion__item {

                &:first-child .accordion__content {
                    display: block;
                }

                &.accordion__item--open {

                    .accordion__button {
                        margin-bottom: rem(15px);

                        @include media(ml) {
                            margin-bottom: rem(30px);
                        }

                        &::before {
                            transform: rotate(45deg);
                            top: rem(2px);
                            border-color: $color--a8;

                            @include media(ml) {
                                top: 0;
                            }
                        }
                    }
                }
            }

            .accordion__button {
                $arrowDimension: rem(8px);
                $mediumMultiplier: 1.5;
                border: none;
                background: none;
                padding: 0 0 0 calc(#{$arrowDimension} + #{rem(15px)});
                margin: 0;
                position: relative;
                outline: none;

                @include media(ml) {
                    padding-left: calc(#{$arrowDimension} * #{$mediumMultiplier} + #{rem(30px)});
                }

                &::before {
                    @include pseudo;
                    top: calc(50% - #{$arrowDimension} / 2);
                    left: 0;
                    width: $arrowDimension;
                    height: $arrowDimension;
                    border: rem(2px) solid #000000;
                    border-top-width: 0;
                    border-left-width: 0;
                    transition: all .5s ease-in-out;
                    transform: rotate(-45deg);

                    @include media(ml) {
                        height: calc(#{$arrowDimension} * #{$mediumMultiplier});
                        width: calc(#{$arrowDimension} * #{$mediumMultiplier});
                        top: calc(50% - (#{$arrowDimension} * #{$mediumMultiplier}) / 2);
                    }
                }
            }

            .accordion__title {
                font-size: 1rem;
                font-weight: bold;

                @include media(ml) {
                    @include header(4);
                }
            }

            .accordion__content {
                display: none;
            }
        }
    }
}
