// COLORS
$color--eb: #EBDDFD;
$color--bc: #BC95F5;
$color--a8: #A870F5;
$color--8c: #8C40F6;

// FONTS
$font--normal: 'IBMPlexSans', Helvetica, Arial, sans-serif;
$font--bold: 'IBMPlexSans-Bold';

// TEXT SIZES

//
// // BREAKPOINTS
// $media--small: 320px;
// $media--medium: 768px;
// $media--large: 1024px;
//
// // MIXINS
// // font-settings: for adjusting several font settings at once.
// @mixin font-settings($sizeValue, $lineHeight: $sizeValue, $letter-spacing: 0) {
//   font-size: ($sizeValue / 16) + rem;
//   line-height: ($lineHeight / 16) + rem;
//   @if ($letter-spacing != 0) {
//     letter-spacing: ($letter-spacing / 16) + rem;
//   }
// }
//
// // pseudo: for adding in CSS attributes that are tedious to repeat on pseudos.
// @mixin pseudo($display: block, $pos: absolute, $content: ''){
//     content: $content;
//     display: $display;
//     position: $pos;
// }
//
// // media: less typing for media queries.
// @mixin media($size) {
//   @if $size == s {
//     @media only screen and (min-width: $media--small) and (max-width: $media--medium - 1) {
//       @content;
//     }
//   }
//   @else if $size == sm {
//     @media only screen and (min-width: $media--small) and (max-width: $media--large - 1) {
//       @content;
//     }
//   }
//   @else if $size == m {
//     @media only screen and (min-width: $media--medium) and (max-width: $media--large - 1) {
//       @content;
//     }
//   }
//   @else if $size == ml {
//     @media only screen and (min-width: $media--medium) {
//       @content;
//     }
//   }
//   @else if $size == l {
//     @media only screen and (min-width: $media--large) {
//       @content;
//     }
//   }
// }
