---
---
@import "meyer-reset";
@import "vars";
@import "mixins";
@import "fonts";

body {
    font-family: $font--normal;
    font-size: 100%;
    line-height: 1.25rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.page__ {
    &header {
        padding: 0 0 1.875rem;
    }
}

.content__block {
    margin: 1.875rem 0;
    padding: 0 1.875rem;

    & + & {
        padding-top: 30px;
    }

    ul {
        list-style-type: disc;
    }
}

@import "homepage";
