---
---
@import "meyer-reset";
@import "vars";
@import "mixins";
@import "fonts";

// UNIVERSAL TAG STYLES
body {
    font-family: $font--normal;
    font-size: 100%;
    line-height: 1.25rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


// UNIVERSAL PAGE RULES
.page__ {

    // SITE HEADER
    &header {
        padding: 0 0 1.875rem;
    }

    // SITE FOOTER
    &footer {
        background-color: $color--8c;
        padding: 1.875rem;

        a {
            @include header-2;
            color: #FFFFFF;
            text-decoration: none;
        }

        .footer__help-links {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li + li {
                margin-left: 1.875rem;
            }
        }
    }
}

// HEADER FOR NON-HOMEPAGE PAGES
body:not(.page__home) .page__header {

    .header {

        &__nav-wrapper {
            position: relative;
        }

        &__title {
            height: 3.5rem;
            line-height: 3.5rem;
            padding: 0 0.9375rem;
            background-color: #FFFFFF;
            border-bottom: 0.0625rem solid #000000;
            margin-bottom: 1.875rem;
            position: relative;
            z-index: 4;

            a {
                color: #000000;
                text-decoration: none;
            }
        }
    }

    // HAMBURGER MENU
    .hamburger {

        input {
            display: none;

            &:checked ~ .hamburger__list {
                top: 3.4375rem;



                .solution-list__item {
                    opacity: 1;
                }
            }

            &:checked ~ .hamburger__label .hamburger__icon {
                transform: rotate(45deg);

                &::before,
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }

        label {
            width: 1.75rem;
            height: 1.75rem;
            display: block;
            position: absolute;
            top: 0.875rem;
            right: 0.9375rem;
            z-index: 4;
        }

        .hamburger__icon {
            position: relative;
            margin-top: calc(50% - 0.0625rem);

            &,
            &::before,
            &::after {
                width: 100%;
                height: 0.125rem;
                border-radius: 0.625rem;
                background-color: $color--8c;
                transition: all 0.5s ease-out;
            }

            $distance: .5;
            &::before,
            &::after {
                @include pseudo();
                top: - ($distance) + rem;
            }

            &::after {
                top: ($distance) + rem;
            }
        }

        .hamburger__list {
            position: absolute;
            top: -50rem;
            width: 100%;
            background-color: $color--8c;
            padding: 0.9375rem 1.875rem 1.875rem;
            box-sizing: border-box;
            transition: all 0.5s ease-in-out;
            z-index: 3;
        }

        .hamburger__item {

            & + .hamburger__item {
                margin-top: 1.875rem;
            }
        }

        .solution-list__item {
            margin-left: 0.625rem;
            padding-left: 0.75rem;
            opacity: 0;
            transition: all 0.85s ease-in-out;

            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }

            & + .solution-list__item {
                margin-top: 1.875rem;
            }

            &:nth-child(2) {
                margin-top: 0.9375rem;
            }

            &.current {
                font-weight: bold;
                border-left: 0.125rem solid #FFFFFF;
                padding-left: 0.625rem;

                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }

            a {
                color: #FFFFFF;
                text-decoration: none;
            }

            span {
                margin-right: 0.9375rem;
            }
        }
    }

    .header__subtitle {
        margin: 0 1.875rem;
    }
}

// CONTENT BLOCK RULES
.content__block {
    padding: 0 1.875rem;
    margin-bottom: 3.75rem;

    ul {
        list-style-type: disc;
        margin-left: 1.25rem;
    }

    p + p,
    li+ li,
    p + ul,
    ul + p {
        margin-top: 0.9375rem;
    }

    .button {
        @include button;
    }

    img {
        max-width: 100%;
    }

    &.emphasis {
        background-color: $color--eb;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
}

@import "homepage";
@import "solution-home";
@import "solution-step";
