<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    {% capture class_list %}{{ "page--" | append: page.slug | append: " layout--" | append: page.layout }}{% endcapture %}

    {% if page.layout == "solution-step" %}
        {% assign solution_name = page.permalink | split: "/" %}
        {% capture class_list %}{{ class_list | append: " solution--"  | append: solution_name[1] }}{% endcapture %}
    {% endif %}

    <body class="{{ class_list }}">

        {% include header.html %}

        <main>{{ content }}</main>

        {% include footer.html %}

    </body>

</html>
