---
layout: default
---

<ul class="faq-cats">
    {% for cat in page.faqs %}
        <li class="faq-cats__item">
            <input type="radio" id="faq-cats__input-{{ forloop.index }}" class="faq-cats__input" name="faq-cats__item">
            <label for="faq-cats__input-{{ forloop.index }}" class="faq-cats__label"><span>{{ cat.title }}</span></label>
            {% include inc-accordion.html items=cat.questions %}
        </li>
    {% endfor %}
</ul>
<section class="faq-content">
    {% for cat in page.faqs %}
        {% include inc-accordion.html items=cat.questions %}
    {% endfor %}
</section>
