---
layout: default
---
{% comment %}
LAUYOUT: HOME
PARENT: DEFAULT
- This is the layout for the Guides Homepage. It outputs a banner, a changelog
(whats-new), and a list of available Solutions (dive).
- Adding Items to the "whats-new" variable in Home's YAML will increase/decrease
the amount of Changes this layout outputs.
- Adding Items to the "dive" variable in Home's YAML will increase/decrease
the amount of Solutions this layout outputs.

TO-DO: use type for content__block class names, like with solution step pages.
{% endcomment %}
<div class="content__block banner">
    {% for banner in page.banners %}
        <ul class="banner__list size-{{ banner.size }}">
            {% for image in banner.images %}
            <li class="banner__item">
                <img alt="{{image}}" src="{{ site.baseurl }}/assets/{{image}}">
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% for section in page.page-sections %}
    <section class="content__block {{ section.component }}">
        <h1 class="content__title">{{ section.title }}</h1>
        {% if section.text %}
            <div class="content__text">{{ section.text | markdownify }}</div>
        {% endif %}
        {% if section.type == 'page-listing' %}
          <ul class="content__solutions solutions">
            {% for page in site.pages %}
                {% if page.layout == 'solution-home' %}
                  <li class="solutions__item">
                      <a class="solutions__link" title="{{page.title}}" href="{{site.baseurl}}{{page.permalink}}">
                          <img class="solutions__image" alt="{{page.title}}" src="{{site.baseurl}}/assets/images/{{page.thumbnail}}">
                          <h2 class="solutions__title">{{- page.title -}}</h2>
                          <div class="solutions__excerpt">{{- page.excerpt | markdownify -}}</div>
                      </a>
                  </li>
                {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
    </section>
{% endfor %}
