---
layout: default
---

{% for section in page.page-sections %}
    <section class="{{ section.component }} home-block">
        <header class="home-block__header">
            <h1 class="home-block__title">{{ section.title }}</h1>
        </header>
        <div class="home-block__content">
            {% if section.component == "whats-new" %}
                {{ section.text | markdownify }}
            {% elsif section.component == "dive" %}
                <ul class="{{ section.component }}__items">
                    {% for page in site.pages %}
                        {% if page.layout == 'solution-landing' %}
                            <li class="{{ section.component }}__item">
                                <img alt="{{ page.title }}" class="{{ section.component }}__image" src="{{site.baseurl}}/assets/images/{{page.thumbnail}}">
                                <div class="{{ section.component }}__text">
                                    <h2 class="{{ section.component }}__title">{{ page.title }}</h2>
                                    <div class="{{ section.component }}__description">{{ page.excerpt | markdownify }}</div>
                                    <a class="{{ section.component }}__button button" title="Start exploring {{ page.title }}" href="{{site.baseurl}}{{page.permalink}}">Start exploring</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endfor %}
