---
layout: default
---

{%- assign solution_steps = site.pages | where: "layout", "solution-step" | sort: "weight" -%}
{%- assign solution_name = page.permalink | remove_first: "/" | split: "/" -%}
{%- for step in solution_steps -%}
    {%- assign step_solution_name = step.permalink | remove_first: "/" | split: "/" -%}
    {%- if step_solution_name[0] == solution_name[0] -%}
        {%- capture section_image -%}
            {{- step.page-logo -}}
        {%- endcapture -%}
        {%- capture section_title -%}
            {{- step.title | remove: "_" -}}
        {%- endcapture -%}
        {%- capture section_intro -%}
            {{- step.excerpt | markdownify -}}
        {%- endcapture -%}
        {%- capture section_button -%}
            {{- step.button -}}
        {%- endcapture -%}
        {%- capture section_link -%}
            {{- site.baseurl -}}{{- step.permalink -}}
        {%- endcapture -%}
        {%- include inc-solution-landing-section.html title=section_title intro=section_intro button=section_button image=section_image link=section_link -%}
    {%- endif -%}
{%- endfor -%}
