---
layout: default
---

{% for section in page.page-sections %}
    <div class="step__section {{ section.type }}">

        {% if section.title %}
            <h3>{{ section.title }}</h3>
        {% endif %}

        {{ section.text | markdownify }}

        {% if section.tab-selector %}
          <div class="step__tabs tab-selector">
              <ul class="tab-selector__tab-list">
                  {% for tab in section.tab-selector %}
                    <li class="tab-selector__tab-item">
                        <button class="tab-selector__button">{{ tab.title }}</button>
                    </li>
                  {% endfor %}
              </ul>
              <ul class="tab-selector__content-list">
                  {% for content in section.tab-selector %}
                    <li class="tab-selector__content-item">
                        <h4 class="tab-selector__title">{{ content.title }}</h4>
                        {{ content.text | markdownify }}
                    </li>
                  {% endfor %}
              </ul>
          </div>
        {% endif %}

        {% if section.type == 'accordion' %}
          <ul class="step__accordion accordion__wrapper">
            {% for item in section.items %}
            <li class="accordion__item">
              <button class="accordion__button"><h4 class="accordion__title">{{ item.title }}</h4></button>
              <div class="accordion__content">{{ item.text | markdownify }}</div>
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if section.type == 'outro' %}
            {% comment %}
              Programmatically determine next Step link.
              1) Break page's permalink down to find the Solution this page is a part of.
              2) Increment page's weight.
              3a) Search for pages that have the same Solution in their permalink.
              3b) AND have the incremented weight as their value.
            {% endcomment %}
            {% assign link_chunks = page.permalink | split: '/' %}
            {% assign page_weight = page.weight | plus: 1 %}
            {% for page in site.pages %}
                {% if page.permalink contains link_chunks[0] and page.weight == page_weight %}
                    <a href="{{ site.baseurl }}{{ page.permalink }}" title="{{ page.title | remove: '_' }}">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
{% endfor %}
